body{
  background-color: lightskyblue;
}

.profileInfoContainer {
  display: flex;
  justify-content: center;
}
.profileContainer {
    display: grid;
    width: 50%;
    border-radius: 2px;
    border-color: #666666;
    padding: 1em;
    margin: 50px;
    box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
    background: #fff;
    height: 717px;
}
  
  .title {
    text-transform: uppercase;
    color: #666666;
    margin: 0 0 1em 0;
  }

  .input{
    color: black;
    font-size: 80%;
    display: flex;
    padding-top: 0px;
    overflow: hidden;
  }

  .inputContainer{
    height: 33px;
  }

  h4 {
    color: #666666;
    margin-top: 14px;
  }

.category {
    text-transform: uppercase;
    color: #666666;
}


/*All Table styling below*/
.lineItems {
  vertical-align: top;
  color: #666666;
  white-space: wrap;
}

.purchaseDetails {
  vertical-align: top;
  color: white;
  text-align: left;
  font-weight: bold;
  padding: 4px;
}

.purchaseHistoryTable p {
  color: #666666;
  width: 95%;
  font-weight: normal;
  margin-left: 1em;
}

.purchaseHistoryTable summary > * {
  display: inline;
  color: #666666;
}

.viewPurchaseHistory {
  /* purchase history div that creates a box around the table. */
  color: #666666;
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
}

.purchaseHistoryTable {
    display: block;
    width: 50%;
    border-radius: 2px;
    border-color: #666666;
    padding: 1em;
    margin: 50px;
    box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
    background: #fff;
}

.purchaseHistoryTable details {
  width: 100%;
}

.purchaseHistoryTable table {
  width: 100%;
}

.purchaseHistoryTable td {
    text-align: left;
    color: #666666;
    font-weight: bold;
    padding-top: 3px;
    background: white;
}

.purchaseHistoryTable th {
    color: black;
    position: sticky;
    top: 0px;
    text-align: left;
    width: 25%;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  width: 100%;
}

.buttonContainerEdit {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  width: 100%;
  align-items: flex-end;
}

.invalid {
  /* Necessary for error message positioning */
  position: relative;
}
.invalid input, .invalid select {
  box-shadow: 0px 0px 5px red;
}

.errorMessage {
  color: red;
  font-size: 12px;
  padding-top: 0px;
  position: relative;
  right: 0px; 
  top: -5px;
}

.errMsg {
  color: red;
  font-size: 14px;
  margin: 0px 2px 4px 4px;
}

.wishlistTabLayoutContainer {
  display: flex;
  flex-wrap: wrap;
}