
.createButton{
    background-color: cyan;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    justify-self: center;
    padding: 5px 20px 5px 20px; 
    font-family: cursive;
}

.productContainer {
    display:grid;
    grid-template-columns: 35% 35%;
    grid-template-areas:
    "column1 column2";
    gap: 1em 0em;
    padding: 0 2em 1em;
    justify-content: space-evenly;
}

.buttonContainer{
    display: grid;
    grid-template-areas:
    "column3 column4";
    grid-template-columns: 35% 35%;
    gap: 1em 0em;
    padding: 0 2em 5em; 
    justify-content: space-evenly;
} 

.column1 {
    grid-area: column1;
}
.column2 {
    grid-area: column2;
}
.column3 {
    grid-area: column3;
}
.column4{
    grid-area: column4;
    justify-content: end;
}

.h1 {
    color: black;
    text-align: center;
    text-decoration: underline;
    padding: 25px 0px 25px 0px; 
    margin-top: 0%;
    font-family: cursive;
}

.column1 label, .column2 label {
    color: black;
    font-family: cursive;
    font-size: large;
}

.wholePage {
    background-color: lightgreen;
    min-height: calc(100vh-100px);
} 

.invalid {
    /* Necessary for error message positioning */
    position: relative;
}

.invalid input, .invalid select {
    box-shadow: 0px 0px 5px red;
}
  
.errorMessage {
    color: darkred;
    font-size: 16px;
    font-weight:500;
    margin-top: 0;
    height: 0;
    padding-top: 0px; 
    position:relative;
    right:0%;
    top: 1px;
    text-align: front;
    width:500px;
}
