.closedMenu {
    background-color: transparent;
    flex-basis: 100%;
}

.menuBars {
    background-color: #5CE1E6;
    margin-left: 2rem;
    font-size: 2rem;
}

.navMenu {
    background-color: #5CE1E6;
    border-bottom-right-radius: 5px;
    width: 275px;
    height: 100vh;
    padding-bottom: 3vh;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: 850ms;
    overflow: scroll;
        /* Works on Firefox */
        scrollbar-width: thin;
        scrollbar-color: #4bb9bd #3e989c;
}

.navMenuActive {
    background-color: #5CE1E6;
    border-bottom-right-radius: 5px;
    width: 275px;
    height: 100vh;
    padding-bottom: 3vh;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: 850ms;
    overflow: scroll;
    transform: translateX(0%);
    transition: 350ms;
}

.navText {
    /*color: #eee;*/
    color: #179297;
    /*text-shadow: 1px 1px #179297;*/
    display: flex;
    justify-content: flexlef-start;
    align-items: center;
    padding: 0px 0px 10px 0px;
    list-style: none;
    font-weight: bold;
    font-size: 15px;

}

.navText a {
    text-decoration: none;
    color: #000000;
    font-size: 18 px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4 px;
}

.navMenuItems {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.navMenuItemsInput {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.navbarToggle {
    background-color: #5CE1E6;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navTextInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.aboveFiltersBoxes {
   padding: 8px 8px 8px 8px; 
}

.filterButton {
    background: #179297 !important;
    border-radius: 50px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 15px !important;
    padding: 10px 10px 10px 10px !important;
}

.marginLeft {
    margin-left: 5px;
}

.accordion {
    padding: 5px 5px 5px 5px;
    display: inline-flexbox;
    align-items: left;
    align-content: left;
    justify-content: flex-start;
    width: 95%;
}

.accordionTypography {
    color: #179297 !important;
    font-weight: bold !important;
    margin-left: 3px !important;
}

::marker {
    color: white
}

.expandMore {
    color: #179297;
}

.minMaxForm {
    color: #179297;
    font-weight: bold;
    font-size: 15px;
    margin-top: -5px;
    border-color: #179297;
}

.accordionSummary {
    display: flex !important;
    justify-content: space-between !important;
}

.minPrice {
    color: black;
    margin-bottom: 10px;
    width: 100%
}

.maxPrice {
    color: black;
    width: 100%
}

/*Scrollbar styling */

/* Works on Chrome, Edge, and Safari */
.navMenuActive::-webkit-scrollbar {
    width: 12px;
}
  
.navMenuActive::-webkit-scrollbar-track {
    background: #4bb9bd;
    width: 10px;
}
  
.navMenuActive::-webkit-scrollbar-thumb {
    background-color: #3e989c;
    border-radius: 20px;
    border: 3px solid #3e989c;
}
