.header{
  position: sticky;  
  display: flex;
  align-items: center;
  top: 0px;
  height: 75px;
  z-index: 1;
  background-color: black;
}

.title{
  color: whitesmoke;
  text-shadow: 5px maroon;
  order: 2;
  text-align: center !important;
  font-family: cursive;
  font-size: 65px;
  align-self: center;
  text-decoration: double;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.title a {
  text-decoration: none;
  color: whitesmoke;
}

.reservations{
  order:1;
  font-family: cursive;
  color: whitesmoke !important;
  font-size: 30px;
  margin-left: 1em;
}

.reservations a {
  text-decoration: none;
}
a.active{
  text-decoration: overline;
  color: cyan !important;
}

.roomType{
  order:3;
  font-family: cursive;
  color: whitesmoke !important;
  font-size: 30px;
}

.roomType a {
  text-decoration: none;
  margin-right: 1em;
}
a.active{
  text-decoration: overline;
  color: crimson;
}



