.footer{
  position: sticky;
  display:flex;
  align-items: center;
  top: 0px;
  height: 50px;
  background-color: black;
}

.footerText {
    display: flex-box;
    margin: auto;
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
    text-shadow: 1px 1px maroon;
}
