.button{
  background-color: darkblue;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin: 4px 2px;
  padding: 5px ;
}

.roomTypesMenu {
background-color: lightskyblue;
height: 36px;
}

.roomTypesTable {
  width: 100%;
  /* The total height of the viewport minus the height of the header */
  height: calc(100vh - 150px);
  overflow: auto;
}

.roomTypesTable table {
  border-spacing: 0px;
  color: white;
}

.roomTypesTable td,
.roomTypesTable th {
  /* No borders on the top and left so each edge only has one border */
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 4px 3px 4px 3px;
  white-space: nowrap;
  z-index: 10;
  height: 29px;
}

.roomTypesTable td {
  /* Numeric fields have inline style */
  text-align: left;
  margin: auto;
}

.roomTypesTable th {
  position: sticky;
  top: 0px;
  /* Borders on the top because the headers are the top row */
  border-top: 1px solid black;
  text-align: center;
  background: darkblue;
  color: whitesmoke;
}

.roomTypesTable th:first-child,
.roomTypesTable td:first-child {
  /* borders on the left side of the table */
  border-left: 1px solid black;
}

.roomTypesTable tr:nth-child(even) {
  background-color: lightgreen;
  color: black;
}

.roomTypesTable tr:nth-child(odd) {
  background-color: mintcream;
  color: black; 
}

.leftButton {
  padding-left: 3px;
}

.rightButton {
  padding-left: 6px;
}

.disabledEditButton {
  color: black;
  opacity: 0.4;
  pointer-events: none;
  padding-left: 3px;
  padding-bottom: 4px;
}
.disabledDeleteButton {
  color: black;
  opacity: 0.4;
  pointer-events: none;
  padding-left: 3px;
}
.deleteModalTitle {
  text-align: center;
  padding: 20px;
}

.deleteModalBody {
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

.footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cancelBtn {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color:#d0a800;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.confirmBtn {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #179297;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.modalBackground {
  position: absolute; 
  background: white;
  bottom: 50%; 
} 

.menuBars {
  background-color: whitesmoke;
  margin-left: 2rem;
  font-size: 2rem;
}

.modalContainer {
border-radius: 12px;
background-color: white;
vertical-align: text-top;
padding: 20px;
}

.modalCloseBtn {
  float: right;
  margin: -25px -5px 0px 0px !important;
  padding: 20px !important;
}

.confirmBtnText {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  padding: 0px 10px 10px 10px;
}

dialog::backdrop {
background: rgba(0, 0, 0, 0.3)
}
